# ======================
# IDE / Android Studio
# ======================

# Ignore IDE files
*.iml
.idea/

# Keep code style and run configurations for team consistency
!.idea/codeStyles/
!.idea/runConfigurations/

# Module build folder
/build/

# Native build
.externalNativeBuild/
.cxx/

# Optional: APK / AAB outputs for module
*.apk
*.aab
