# ======================
# Global / Root
# ======================

# Gradle
.gradle/
build/

# OS-specific
.DS_Store
Thumbs.db

# Local configuration
local.properties

# Logs
*.log

# Kotlin compiler caches
.kotlin/

# Android Studio captures (screenshots)
captures/
